*{
    background-color: black;
    color: azure;
}
 
#button_first{
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    
}

#GONE{
    display: none;
}

