*{
    width:auto;
    height:auto;
    box-sizing: border-box;
    text-align: center;
    background-color:#000000de;
    font-family: "Comic Neue", cursive;
    position: relative;
    color: white;
}

body,h1,h2 {
    background-color: transparent;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    width: 100%;
    height:400px;
    background-color: transparent;
    /* background-color :#ADD8E6; */
    /* border: dashed 2px ; */
    /* border-radius: 20px; */
    /* border-color: whitesmoke; */
    position:absolute;
    text-align: center;
    
    
}

.Joke{
    height: 20rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* background-color :#ADD8E6; */
    background-color: transparent;
    text-align: center;
    font-weight: 900;
    font-family: 'Comic Neue', cursive;
    font-size: 30px; /* Increase text size */
    /* display: inline-block; */
    padding: 20px;
    /* border: 2px solid #3498db; */
    border-radius: 10px;
    /* background-color: #f3f3f3; */
    color: #ffffff;
    position: relative;



}
h2{
    font-size: 45px;
}

button{
    display: flex;
    font-size: 3rem;
    font-family:"Comic Neue" ;
    border-radius:10px ;
    position: absolute;
    align-self: center;
    border: 2px solid #ffffff;
    border-radius: 6px;
    color: white;
    justify-self:center;

    
}
.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 1000;
    font-style: normal;
  }

button:hover{
    background-color: azure ;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.886), 0 6px 20px 0 rgba(247, 246, 246, 0.855) ;
    border-color: black;
    border: solid 2px ;
    height: 25%;
    width: 35%;
    justify-content: center;
    display: flex;
    align-items: center;
}
#custom-loader {
    display: none; /* Hide loader by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-wheel {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Apply spin animation */
}

.getJoke {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #000000c9;
    border: 2px solid #ffffff;
    border-radius: 6px;
    /* background-color: aquamarine; */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.getJoke:hover {
    background-color: #ffffff;
    color: black;
    
}



  